variables:
  CI_DEBUG_SERVICES: "true"


before_script:
  - apk update
  - apk --no-cache add py3-pip python3 curl
  - python3 -m venv $HOME/.venv
  - export PATH=$HOME/.venv/bin:$PATH
  - python3 -m pip install pyyaml awscli
  - curl -O https://raw.githubusercontent.com/FredHutch/swarm-build-helper/main/build_helper.py 
  # below is from https://stackoverflow.com/a/65810302/470769
  - mkdir -p $HOME/.docker
  - echo $DOCKER_AUTH_CONFIG > $HOME/.docker/config.json
  - set -x

stages:
  - build
  - test
  - deploy

build:
  stage: build
  image: docker:19.03.12
  services:
    - name: docker:19.03.12-dind
      command: ["--storage-driver=overlay2"]
  script:
    - aws s3 cp s3://fh-pi-meshinchi-s-eco-public/Shiny_App/data/ ./data --recursive
    - docker info
    - docker build --progress plain --no-cache -t sc-registry.fredhutch.org/target-data-viz-${CI_COMMIT_BRANCH}:test .
    - docker push sc-registry.fredhutch.org/target-data-viz-${CI_COMMIT_BRANCH}:test

test:
  stage: test
  services: 
    - name: sc-registry.fredhutch.org/target-data-viz-${CI_COMMIT_BRANCH}:test
      alias: target-data-viz
  script:
    - sleep 60 && curl -sI  http://target-data-viz:3838  |head -1|grep -q "200 OK"


deploy_preview:
  stage: deploy
  only:
    refs:
        - dev
  script:
    - docker tag sc-registry.fredhutch.org/target-data-viz-${CI_COMMIT_BRANCH}:test sc-registry.fredhutch.org/target-data-viz-preview:latest
    - docker push sc-registry.fredhutch.org/target-data-viz-preview:latest
    - sleep 15
    - echo $SC_SWARM_CICD_SSH_KEY | base64 -d > ./sc_swarm_cicd_ssh_key
    - chmod 0400 ./sc_swarm_cicd_ssh_key
    - python3 build_helper.py docker-compose-preview.yml | ssh -i ./sc_swarm_cicd_ssh_key -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@sc-swarm-mgr.fhcrc.org docker stack deploy --with-registry-auth -c - target-data-viz-preview


deploy:
  stage: deploy
  only:
    refs:
        - master
  script:
    - docker tag sc-registry.fredhutch.org/target-data-viz-${CI_COMMIT_BRANCH}:test sc-registry.fredhutch.org/target-data-viz:latest
    - docker push sc-registry.fredhutch.org/target-data-viz:latest
    - sleep 15
    - echo $SC_SWARM_CICD_SSH_KEY | base64 -d > ./sc_swarm_cicd_ssh_key
    - chmod 0400 ./sc_swarm_cicd_ssh_key
    - python3 build_helper.py docker-compose.yml | ssh -i ./sc_swarm_cicd_ssh_key -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@sc-swarm-mgr.fhcrc.org docker stack deploy --with-registry-auth -c - target-data-viz
